@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding:15px;
}

main section {
  display: none;
  padding: 10px 0 0;
  border-top: 1px solid #ddd;
}

main input {
  display: none;
}

main label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 8px 15px;
  font-weight: 600;
  text-align: center;
  color: black!important;
  border: 1px solid transparent;
  font-size: 12px;
}

 main label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

main label[for*='1']:before { content: '\f073'; }
main label[for*='2']:before { content: '\f080'; }
main label[for*='3']:before { content: '\f16b'; }
main label[for*='4']:before { content: '\f1a9'; }

main label:hover {
  color: black;
  cursor: pointer;
}

main input:checked + label {
  color: black;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  main label {
    font-size: 0;
  }
  main label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
 main label {
    padding: 15px;
  }
}